.get-input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

}

.main-input{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}